<div class="row">
    <div *ngFor="let item of resultadosX">
        <div class="col-md col-sm-6">
            <div class="card">
                <img [src]="item.images.downsized_medium.url" 
                     [alt]="item.title"
                     class="card-img-top">
                <div class="card-body">
                    <div class="card-text">
                        {{ item.title }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>